/*Core Structure*/
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "Verdana", sans-serif;
}
#page {
    margin: 0 auto;
    padding: 2em;
    max-width: 1200px;
    min-width: 800px;
}
#content {
    border: 1px solid black;
    box-shadow: 0.5em 0.5em 0.5em #979797;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background-color: white;
    min-height: 418px;
}
.two-column-content-liner {
    border: 1px solid black;
    margin: 8px;
}
#two-column-content {
    display: table;
    table-layout: fixed;
    width: 100%;
}
#left-column {
    display: table-cell;
    border-right: 1px solid black;
    width: 250px;
    height: 400px;
}
#right-column {
    display: table-cell;
}
section {
    margin: 1em;
}
.scrollable-section {
    overflow: auto;
}
section > h2:first-child {
    margin: 0 0 1em 0;
}
h1 {
    margin: 0 0 0.5em 0;
    text-shadow: 0.05em 0.05em 0.05em #979797;
}
#logo {
    background: url("../img/logo32x32.png") 0 0;
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: bottom;
}
#auth {
    float: right;
}
#username-container,
#logout-form {
    display: inline-block;
}
/* Top Navigation */
#top-nav ul {
    padding: 0 0.25em;
    list-style-type: none;
    margin: 0 0 0 1em;
}
#top-nav li {
    border: 1px solid black;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.5em 0.5em 0.25em 0.5em;
    position: relative;
    bottom: -1px;
    z-index: 1;    
    background-color: lightgray;    
    display: inline-block;
}
#top-nav li.current {
    border: 1px solid black;
    border-bottom: 1px solid white;
    background-color: white;
}
/* Left Navigation */  
.sub-nav {
    background-color: #f0f0f0;
}
#left-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: -1em;
}
#left-nav li {
    margin-bottom: 6px;
    padding: 0;
}

#left-nav li a {
    display: block;
    position: relative;
    right: -1px;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 0.5em 0 0 0.5em;
    background-color: lightgray;    
}
#left-nav li:last-child {
    margin-bottom: 0;
}
#left-nav li.sub-current a {
    background-color: white;
    border-right: 0 none;
}
/* Links */
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: red;
}
/*Key-Value Lists*/
.key-value-list {
    display: table;
    margin: 0 0 1em 0;
    padding: 0;
}
.key-value-list > li {
    list-style-type: none;
    display: table-row;
}
.li-key,
.li-value {
    display: table-cell;
    padding: 0.25em;
}
.li-key {
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}
.required-field > :first-child:before {
    color: red;
    content: "*";
}
.li-key > :first-child:after {
    content: ":";
}
.key-value-list .li-key {
    font-weight: bold;
}
/* Messages and Indicators */
.message-box {
    margin: 1em 0; /*Collapsing margins may be in effect*/
}
.error-message {
    color: red;
}
.button-indicator {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    background: url("../img/indicator16x16.gif") 0 0;
}
/* Tables */
table.record-table,
.record-table td,
.record-table th {
    border-collapse: collapse;
    border: 1px solid black;
}
.record-table td,
.record-table th {
    padding: 0.5em;
}
table.record-table {
    margin: 1em 0;
}
.record-table th {
    background-color: lightgray;
}
.record-table tr:nth-child(even) {
    background-color: #E8E8E8;
}